table{
  margin-left:38%;
}
th{
  font-size: 30px;
}
td{
  font-size: 25px;
  text-align: center;
}
input[type=submit]{
  margin-left:50%;
width:150px;
font-size: 40px;
}
body{
  margin-top: 0px;
  background-color: rgba( 230, 27, 33 ,0.6);
}
